:root {
  --primary-color: #1da1f2;
  --secondary-color: #14171a;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Hashiba";
  src: url("../public/assets/Hashiba.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* font-family: "Hashiba", sans-serif; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

img {
  pointer-events: none;
}

.MuiList-padding {
  padding: 0 !important;
}

.bg-bg {
  background-image: url("../public/assets/BG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-home {
  grid-template-columns: 1fr 550px;
}

@media only screen and (max-width: 1024px) {
  .grid-home {
    grid-template-columns: 1fr;
  }
}

.bg-transparent {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
